ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.h
config.h.in
config.log
config.status
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/*.pot
src/nabi
test/gtk
test/xlib
*.tar.gz
*/Makefile
*/Makefile.in
*/.deps
*/*.a
*/*.o
