ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
configure
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
missing
mkinstalldirs
stamp-h1
po/Makefile.in.in
po/POTFILES
po/stamp-po
po/*.gmo
po/*.pot
src/nabi
test/gtk1
test/gtk2
test/gtk3
test/qt3
test/qt4
test/qt5
test/xim_filter.so
test/xlib
nabi-*.tar.gz
*/Makefile
*/Makefile.in
*/.deps
*/*.a
*/*.o
*~
