BODY {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-family: Verdana, Tahoma, Lucida, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	background-color: #e8d57e;
}
.headline {
	padding: 3px;
	margin-top: 0px;
	margin-left: 0px;
	margin-bottom: 0px;
	background-color: #f0e68c;
	font-size: 16pt;
	font-family: Verdana, Tahoma, Lucida, Arial, Helvetica, sans-serif;
}
.menu {
	width: 99%;
	padding: 3px;
	margin: 0px;
	text-align: right;
	color: #d2691e;
}
a { text-decoration:none; color: #d2691e; }
a:hover { text-decoration: underline; }
